# dependências
/node_modules
/.pnp
.pnp.js

# build / cache do Next.js
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# variáveis de ambiente (SEGREDOS — nunca subir)
.env
.env*.local
.env.development
.env.production

# deploy
.vercel

# logs e sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
